{{ 'react_main.css' | asset_url | stylesheet_tag }}

<div id="root" style=""></div>

{% # theme-check-disable %}
{{ 'react_main.js' | asset_url | script_tag }}
{% # theme-check-enable %}

<script>
    // ADDING PREVIOUS CLUB COLOR CODE
    console.log("Moonora 26/01/2025 V3");
</script>

{% schema %}
{
  "name": "Moonora",
  "target": "section",
  "templates": ["product"]
}
{% endschema %}
